<h2 class="sub-header" id="title"></h2>
<div id="fileUpload" class="row manPower">
  <% if (power){ %>
  <form method="post" enctype="multipart/form-data">
    <div class="col-lg-6">
      <div class="input-group">
        <span class="input-group-btn">
          <div class="btn btn-default btn-reset">文件</div>
        </span>
        <input id="file" type="file" name="file" class="form-control">
      </div>
    </div>
    <!--<div class="col-lg-6">-->
      <!--<div class="input-group">-->
        <!--<span class="input-group-btn">-->
          <!--<div class="btn btn-default btn-reset">文件名</div>-->
        <!--</span>-->
        <!--<input id="fileName" type="text" name="fileName" class="form-control">-->
      <!--</div>-->
    <!--</div>-->
    <div class="col-lg-6">
      <button class="btn btn-primary" id="uploadBtn">上传文件</button>
    </div>
  </form>
  <% } %>
</div>
<div id="userUpdata" class="container manPower">
  <% if (power){ %>
  <div class="input-group">
    <span class="input-group-addon" id="basic-addon1">用户名</span>
    <input type="text" id="userName" name="name" class="form-control" placeholder="Username" aria-describedby="basic-addon1">
  </div>
  <div class="input-group">
    <span class="input-group-addon" id="basic-addon1">密码</span>
    <input type="password" id="pwd" name="pwd" class="form-control" placeholder="Username" aria-describedby="basic-addon1">
  </div>
  <div class="input-group">
    <span class="input-group-addon" id="basic-addon1">确认密码</span>
    <input type="password" id="confirmdpwd" name="confirmdpwd" class="form-control" placeholder="Username" aria-describedby="basic-addon1">
  </div>
  <button id="register" class="btn btn-primary btn-block" style="width: 60px;" type="submit">注册</button>
  <% } %>
</div>
<div id="listUpdata" class="container manPower">
  <% if (power){ %>
  <div class="input-group">
    <span class="input-group-addon" id="basic-addon1">菜单名</span>
    <input id="name" type="text" name="name" class="form-control" placeholder="Username" aria-describedby="basic-addon1">
  </div>
  <!--<div class="input-group">-->
  <!--<span class="input-group-addon" id="basic-addon1">标识</span>-->
  <!--<input type="text" class="form-control" placeholder="Username" aria-describedby="basic-addon1">-->
  <!--</div>-->
  <button id="addList" class="btn btn-primary btn-block" style="width: 60px;" type="submit">添加</button>
  <% } %>
</div>
<br />
<div class="table-responsive">
  <table id="listTable" class="table table-striped">
    <thead>
    <tr>
      <th>序号</th>
      <th>文件名</th>
      <th>更新时间</th>
      <th colspan="4">操作</th>
    </tr>
    </thead>
    <tbody>

    </tbody>
  </table>
</div>

<script src="http://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
<script>
   $(function(){
       $("#file").on("change",function(e){
           var e = e || window.event;
           var files = e.target.files;
           var file = files[0];
           //文件上传
           $("#uploadBtn").off("click").on("click",function(e){
               e.preventDefault();
               // var fileName = $('#fileName').val();
               var listID = $('.main').data('id');
               var formData = new FormData();
               formData.append('file', file);
               formData.append('listID', listID);
               // var i = formData.entries();
               // console.log(i.next());
               // console.log(i.next());
               // console.log(i.next());
               $.ajax({
                   data : { listID: listID },
                   url : '/listID',
                   type: 'post',
                   dataType : 'json',
                   success: function(res){
                       $.ajax({
                           url: "/profile",
                           type: "post",
                           data:formData,
                           contentType: false,//使用multer配合ajax时无需配置multipart/form-data，multer将自动配置，手动配置将报错，boundary not found
                           processData: false,
                           success: function(res){
                               console.log(res);
                               alert(res.msg);
                               $('#'+listID).click();
                           },
                           error:function(err){
                               console.log(err);
                               alert(err);
                           }
                       });
                   },
                   error:function(err){
                       console.log(err);
                   }
               });
           });
       });

       $('#addList').on('click', function(e){
           e.preventDefault();
           var name =$('#name').val();
           $.ajax({
               data : { name : name },
               url : '/newlist',
               type: 'post',
               dataType : 'json',
               success : function(data){
                   console.log(data);
                   if( !data.msg ){
                       alert('添加成功');
                       $('#listTab').click();
                   }else{
                       alert(data.msg);
                   }
               }
           })
       });

       $('#register').on('click', function(e){
           e.preventDefault();
           var name =$('#userName').val();
           var pwd = $('#pwd').val();
           if( pwd !== $('#confirmdpwd').val() ){
               alert('两次输入的密码不一致');
               return false
           }
           $.ajax({
               data : { name: name, password: pwd },
               url : '/register',
               type: 'post',
               dataType : 'json',
               success : function(data){
                   console.log(data);
                   if( !data.msg ){
                       alert('添加成功');
                       $('#userTab').click();
                   }else{
                       alert(data.msg);
                   }
               }
           })
       })
   })
</script>