body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #eee;
}

a {
  color: #00B7FF;
}

table {
  border-spacing: 0;
}
table,tr,td {
  border: 1px solid #333;
  text-align: center;
  padding: 0;
  margin: 0;
}
td {
  min-height: 10px;
}

.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin input {
  margin-bottom: 10px;
}